<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Irish Music Artists : {{ artist.name }} details</title>
    {# includes all the css files required in all pages #}
    {% include 'header_includes.html' %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/artist_details.css') }}"/>
    <style>
        header {
            background-size: auto;
            background-repeat: no-repeat;
            background-size: cover;
            {% if artist.banner %}
            background-image : url('/{{artist.banner}}')
            {% else %}
            background: rgba(0,0,0, 0.5)
            {% endif %}
        }
    </style>
</head>
<body>
<a id="map-return" class="rounded-circle" href="/eventsAround"><</a>

<header>
    <div id="artist-header" class="row">
        <div class="col">
            <h1>{{ artist.name }}</h1>
        </div>
        <div class="col">
            {% for genre in genres %}
            <span class="genre">
                <b>{{ genre.name }}</b>
            </span>
            {% endfor %}
        </div>
    </div>
</header>

<div class="container-fluid">
    <div id="artist-bio">
        <p>{{ artist.bio }}</p>
    </div>
    <div id="artist-icons">
        <div class="details website">
            <a href="{{ artist.website }}" target="_blank">
                <b>{{ artist.website }}</b>
            </a>
        </div>
        <div class="details facebook">
            <a href="{{ artist.website }}" target="_blank">
                <b>{{ artist.facebook }}</b>
            </a>
        </div>
        <div class="details spotify">
            <a href="{{ artist.website }}" target="_blank">
                <b>{{ artist.spot }}</b>
            </a>
        </div>
    </div>
    <hr/>
    <div>
        <h5>Concerts in Ireland</h5>
        {% for event in events %}
        <div class="artist-gig">
            <div class="row">
                <div class="col-2">
                    <img src="/static/medias/icons/event.png" style="height:75%" />
                </div>
                <div class="col-10">
                    <div class="date">{{event['date']}}</div>
                    <div class="venue">{{event['venue_name']}}</div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <hr/>
    <div>
        <h5>Related Artists</h5>
        {% for related_artist in related %}
        <div class="related-artist row">
            <div class="col-2">
                {% if related_artist.banner %}
                <img width="100%"
                     src="/static/medias/artist-details/{{related_artist.id}}/banner/{{related_artist.banner}}"/>
                {% else %}
                <img width="100%" src="{{ url_for('static', filename='medias/artist-details/nopic.png') }}"/>
                {% endif %}
            </div>
            <div class="col-8">
                <div class="row">
                    <div class="col">
                        <a href="/showArtist/{{related_artist.id}}">{{related_artist.name}}</a>
                    </div>
                    <div class="col">
                        {% for related_genre in related_artist.genres %}
                        <span class="genre-label">{{related_genre}}</span>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{# includes all common parts in the footer #}
{# javascripts file are opened here as it is more efficient  #}
{# see https://stackoverflow.com/questions/5329807/benefits-of-loading-js-at-the-bottom-as-opposed-to-the-top-of-the-document for explanation #}
{% include 'nav.html' %}
{% include 'scripts.html' %}
</body>
</html>