body {
    padding-bottom : 15%;
}
nav {
    position : fixed;
    bottom : 0;
    width: 100%;
    text-align: center;
    border-top: 4px solid black;
    background: #FFF;
}

nav div div {
    padding: 5%;
}

nav a {
    color: #000;
}
span.genre-label {
    margin : 0 2%;
    padding : 2%;
    border : 1px solid #c6c8ca;
    background: #d6d8d9;
    display: inline-block;
}