.container-fluid {
    margin : 0;
    padding : 0;
}
#map-container {
    position: absolute;
    height: 100%;
    width: 100%;
}
#map {
    height: 100%;
    width: 100%;
}
span.genre-label {
    margin : 0 2%;
    padding : 2%;
    border : 1px solid #c6c8ca;
    background: #d6d8d9;
    display: inline-block;
}