<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap/bootstrap-reboot.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap/bootstrap.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap/bootstrap-grid.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='js/jquery/jquery-ui-1.12.1.custom/jquery-ui.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='js/jquery/jquery-ui-1.12.1.custom/jquery-ui.structure.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='js/jquery/jquery-ui-1.12.1.custom/jquery-ui.theme.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/slider.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">